* {
	margin: 0px;
	padding: 0px;
}
a {
	text-decoration: none;
	color: white;
	padding: 10px 25px;
	background-color: rgb(245, 121, 75);
	border-radius: 5px;
	font-size: 25px;
}
.Headline {
	background-image: url("images/donation9.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	font-family: "Arima", cursive;
	font-family: "Josefin Sans", sans-serif;
	font-family: "Patua One", cursive;
}
#title {
	padding: 220px;
	text-align: center;
	width: 560px;
	margin: auto;
}
h1 {
	font-size: 55px;
}
.content {
	font-family: "Courier New", Courier, monospace;
	width: 600px;
	text-align: center;
	margin: auto;
}
#selected {
	border: 5px solid rgb(235, 85, 31);
	color: rgb(235, 85, 31);
}
.section {
	display: flex;
	margin: auto;
}
.selector {
	width: 700px;
	text-align: center;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	color: rgb(123, 122, 122);
}
.half-width {
	width: 50%;
	overflow: hidden;
	margin: 10px;
	padding: 26px;
}
.tk {
	background-color: whitesmoke;
}
#input-ammount {
	border-style: none;
	text-align: center;
}
hr {
	width: 40%;
	margin: auto;
	border: 0.001px solid rgba(199, 199, 199, 0.873);
}
#button {
	border: none;
	background-color: rgb(235, 85, 31);
	color: white;
	padding: 5px 10px;
	border-radius: 5px;
}
.icon {
	font-family: Arial, Helvetica, sans-serif;
	margin: 10px 80px 10px 80px;
	padding: 10px 50px 10px 50px;
}
.plan-content {
	width: 50%;
	margin: 30px 30px 30px 20px;
	padding: 30px 98px 64px 30px;
}
small {
	color: slategrey;
	font-size: 18px;
}
.food {
	background-color: rgba(199, 224, 235, 0.338);
}
.family {
	background-color: rgba(225, 200, 204, 0.195);
}
.education {
	background-color: rgba(247, 241, 171, 0.286);
}
.statement {
	margin: 25px 40px 25px 40px;
	padding: 30px 40px 25px 40px;
}
.contribute-rgn {
	margin: 10px 80px 10px 80px;
	padding: 10px 50px 10px 50px;
}
